/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fcf9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main styles */
main {
  padding: 2rem;
}

/* Section styles */
section {
  margin-bottom: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.5rem;
}

form input[type="text"],
form button {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
  /* Styles for the footer */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
